<mat-toolbar class="navbar" color="primary">
    <a routerLink="/home" routerLinkActive="active">
        <h1>
            VERBLIO
        </h1>
    </a>
    <button mat-button routerLink="/about" routerLinkActive="active">
        About
    </button>
    <button mat-button routerLink="/conferences" routerLinkActive="active">
        Conferences
    </button>
    <span class="spacer"></span>
    <mat-form-field class="search">
        <input type="text" matInput placeholder="Search" name="search">
        <button matSuffix mat-button>
            <mat-icon>search</mat-icon>
        </button>
    </mat-form-field>
    <button mat-button>
        Log In
    </button>
    <button mat-button>
        Log Out
    </button>
    <button mat-button>
        <mat-icon>menu</mat-icon>
    </button>
</mat-toolbar>
